@import './variables.scss';
$test: hwb(100 0% 0%);

.gray {
  color: $gray;
}

.gray1 {
  color: $gray1;
}

.gray2 {
  color: $gray2;
}

.gray3 {
  color: $gray3;
}

.test {
  color: $blue-w50;
  color: $test;
}
